<div class="row create-container">
	<div class="container">
		<div class="col-md-6 col-sm-12">
			<form name="createForm" class="form-horizontal">
			  	<div class="form-group" ng-class="{'has-error' : (createForm.$submitted || createForm.title.$touched) && createForm.title.$error.required}">
			  	    <label for="createFormTitle" class="col-sm-3 control-label">Event Name*</label>
			  	    <div class="col-sm-9">
			  	      	<input type="text" class="form-control" id="createFormTitle" name="title" ng-model="create.title" ng-model-options="{ updateOn: 'blur' }" placeholder="What was the occasion?" maxlength="50" required>
			  	    </div>
			  	</div>
			  	<div class="form-group">
			  	    <label for="createFormCurrency" class="col-sm-3 control-label">Currency</label>
			  	    <div class="col-sm-9">
			  	      	<select class="form-control" id="createFormCurrency" name="currency" ng-model="create.currency" required>
			  	      		<option value="INR">INR</option>
			  	      		<option value="USD">USD</option>
			  	      	</select>
			  	    </div>
			  	</div>
			  	<div class="form-group" ng-class="{'has-error' : (createForm.$submitted || createForm.owner.$touched) && createForm.owner.$error.required}">
			  	    <label for="createFormOwner" class="col-sm-3 control-label">Your Name*</label>
			  	    <div class="col-sm-9">
			  	      	<input type="text" class="form-control" id="createFormOwner" name="owner" ng-model="create.owner" ng-model-options="{ updateOn: 'blur' }" placeholder="How do others call you?" maxlength="60" required>
			  	    </div>
			  	</div>
			  	<div class="form-group">
			  	    <label for="createFormBuddy" class="col-sm-3 control-label">Add buddy</label>
			  	    <div class="col-sm-9 inp-buddies">
		  	      		<div class="row-fluid" ng-repeat="buddy in create.members">
		  	      			<div class="input-group">
			  	      			<input type="text" class="form-control" placeholder="Who were you with?" id="createFormBuddy" name="buddy{{$index}}" ng-model="buddy.name" maxlength="60" required>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="removeMember(buddy.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
								</span>
	  	      			    </div>
		  	      		</div>
		  	      		<div class="row-fluid">
			  	      		<button class="btn btn-default btn-block" type="button" ng-click="addMember()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			  	      	</div>
			  	    </div>
			  	</div>
			  	<div class="text-center">
				  	<p class="text-warning" ng-show="createForm.$submitted && create.members.length < 1">If you do not add a buddy, you owe everything to yourself.</p>
				  	<p class="text-warning" ng-show="create.members.length >= 50">Do not add more than 50 members as we do not have an accountant.</p>
			  	</div>
			  	<div class="form-group">
			  		<div class="col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
					  	<input type="submit" ng-click="submit()" class="btn btn-primary btn-lg btn-block" ng-class="{'disabled' : is_loading}" value="Create Event" style="background-color: #34495e;" />
			  		</div>
			  	</div>
			</form>
			<p class="text-primary text-center">{{message}}</p>
		</div>
		<div class="col-md-5 col-md-offset-1 col-sm-12 form-create-preview">
			<div class="row-fluid" ng-show="create.owner">
				<h3>Created By:</h3>
				<ul>
					<li>{{create.owner}}</li>
				</ul>
			</div>
			<div class="row-fluid" ng-show="createForm.buddy0.$touched">
				<h3>Buddies</h3>
				<ul>
					<li ng-repeat="member in create.members" ng-if="member.name">{{member.name}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>