<div class="row">
	<div class="container">
		<h1>{{event_data.title}}</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<h3>Positive</h3>
					<p ng-repeat="user in balance_baskets.positive">
						{{user.name}} : {{user.amount}}
					</p>
				</div>
				<div class="col-md-4">
					<h3>Negative</h3>
					<p ng-repeat="user in balance_baskets.negative">
						{{user.name}} : {{user.amount}}
					</p>
				</div>
				<div class="col-md-4">
					<h3>Already Settled</h3>
					<p ng-repeat="user in balance_baskets.clear">
						{{user.name}} : {{user.amount}}
					</p>
				</div>
			</div>

			<div>
				<p ng-repeat="settlement in settlements">
					{{settlement.from.name}} owes {{settlement.amount}} to {{settlement.to.name}}
				</p>
			</div>
		</div>
		<div class="col-md-4 panel-overview">
			<div class="row-fluid">
				<div class="pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="event_edit({slug:event_data.slug})"></span></div>
				<h3 class="">Event</h3>
				<p>Created by {{event_data.owner}} on {{event_data.created_on | date:'longDate'}}</p>
				<h4>Buddies</h4>
				<ul>
					<li ng-repeat="member in event_data.members | orderBy: 'name'">{{member.name}}</li>
				</ul>
			</div>
			<hr>
			<div class="row-fluid">
				<h4>Expenses</h4>
				<ul>
					<li ng-repeat="expense in event_data.expenses | orderBy: 'name'">
						{{expense.name}}
						<div class="pull-right">
							<span><a href="">Edit</a></span>
							<span><a href="" ng-click="removeExpense(expense.id)">Delete</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
