<div class="row">
	<div class="container">
		<h1>{{event_data.title}}</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-8" ui-view></div>
		<div class="col-md-4 panel-overview">
			<div class="row-fluid">
				<div class="pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="edit.event_edit" ui-sref-opts="{slug:event_data.slug}"></span></div>
				<h3 class="">Event</h3>
				<p>Created by {{event_data.owner}} on {{event_data.created_on | date:'longDate'}}</p>
				<h4>Buddies</h4>
				<ul>
					<li ng-repeat="member in event_data.members | orderBy: 'name'">{{member.name}}</li>
				</ul>
			</div>
			<hr>
			<div class="row-fluid">
				<h4>Expenses</h4>
				<ul>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
