<h2>Add expenses</h2>
<div class="row">
	<form class="col-md-8" name="expenseForm">
	  	<div class="form-group">
	    	<label for="expenseFormName">Expense Name</label>
	    	<input type="text" class="form-control" name="expenseFormName" id="expenseFormName" ng-model="form_expense.name" placeholder="" required>
	  	</div>
	  	<div class="form-group">
	    	<label for="expenseFormPaidBy">Paid by</label>
	    	<div class="checkbox">
	    	    <label>
	    	      	<input type="checkbox" value="{{member.id}}" name="expenseFormPayee" id="expenseFormPayee" ng-model="flag_mul_payer">Multiple People
	    	    </label>
	    	</div>
	    	<div class="row inp-payer" ng-repeat="payer in form_expense.payers">
	    		<div class="col-md-6">
	    			<select class="form-control" name="expenseFormPayer" id="expenseFormPayer" ng-model="payer.id" required>
	    				<option value="">Name</option>
	    				<option ng-repeat="member in event_data.members | orderBy:'name'" value="{{member.id}}">{{member.name}}</option>
	    			</select>
	    		</div>
	    		<div class="col-md-6">
	    			<div class="input-group">
	  	      			<input type="text" class="form-control" name="expenseFormPaidAmount" id="expenseFormPaidAmount" ng-model="payer.amount" placeholder="Amount" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="removePayer($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</span>
      			    </div>
	    		</div>
	    	</div>
	    	<button type="button" class="btn btn-default btn-block" ng-click="addPayer()" style="margin-top: 5px;" ng-show="flag_mul_payer">
	    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	    	</button>
	    	<p class="help-block" ng-show="flag_min_payers">Someone did pay. Right?</p>
	  	</div>
	  	<div class="form-group">
	  		<label for="expenseFormPayee">Shared Between</label>
	  		<div class="checkbox">
	  		    <label>
	  		      	<input type="checkbox" value="{{member.id}}" name="expenseFormPayee" id="expenseFormPayee" ng-init="flag_share_all = true" ng-model="flag_share_all">All
	  		    </label>
	  		</div>
	  		<div class="checkbox" ng-show="!flag_share_all" ng-repeat="member in event_data.members | orderBy:'name'">
	  		    <label>
	  		      	<input type="checkbox" value="{{member.id}}" name="expenseFormPayee" id="expenseFormPayee" ng-init="form_expense.payees[member.id] = true" ng-model="form_expense.payees[member.id]">{{member.name}}
	  		    </label>
	  		</div>
	  	</div>
	  	<div class="form-group">
		  	<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="submitExpense()" style="background-color: #34495e;color: #fff;">Submit</button>
		</div>
	</form>
</div>