<h2>Add expenses</h2>
<div class="row">
	<form class="col-md-8" name="expenseForm">
	  	<div class="form-group">
	    	<label for="expenseFormName">Expense Name</label>
	    	<input type="text" class="form-control" name="expenseFormName" id="expenseFormName" ng-model="form_expense.name" placeholder="" required>
	  	</div>
	  	<div class="form-group">
	    	<label for="expenseFormPaidBy">Paid by</label>
	    	<div class="row inp-payer" ng-repeat="payer in form_expense.payers">
	    		<div class="col-md-4">
	    			<p>{{payer.name}}</p>
	    		</div>
	    		<div class="col-md-8">
	    			<div class="input-group">
	  	      			<input type="number" step="0.1" min="0" max="10000000" class="form-control" name="expenseFormPaidAmount" id="expenseFormPaidAmount" ng-model="payer.amount" placeholder="Amount" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="removePayer($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</span>
      			    </div>
	    		</div>
	    	</div>
	    	<p class="help-block" ng-show="flag_min_payers">Someone did pay. Right?</p>
	  	</div>
	  	<div class="form-group">
	  		<label for="expenseFormPayee">Shared Between</label>
	  		<div class="checkbox">
	  		    <label>
	  		      	<input type="checkbox" value="{{member.id}}" name="expenseFormPayee" id="expenseFormPayee" ng-init="flag_share_all = true" ng-model="flag_share_all">All
	  		    </label>
	  		</div>
	  		<div class="checkbox" ng-show="!flag_share_all" ng-repeat="payee in form_expense.payees | orderBy:'name'">
	  		    <label>
	  		      	<input type="checkbox" value="{{payee.id}}" name="expenseFormPayee" id="expenseFormPayee" ng-model="payee.flag">{{payee.name}}
	  		    </label>
	  		</div>
	  	</div>
	  	<div class="form-group">
		  	<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="submitExpense()" style="background-color: #34495e;color: #fff;">Submit</button>
		</div>
	</form>
	{{message}}
</div>