<!-- Start Now Modal -->
<div class="modal fade" id="start_now_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document" style="margin-top:10%;">
        <div class="modal-content">
            <div class="modal-body" style="">
                <button type="button" class="btn btn-primary btn-block" disabled="disabled"><h4>Login with Facebook</h4></button>
                <p>Coming soon to make splitting easy peasy!</p>
                <h4>or</h4>
                <a type="button" class="btn btn-block btn-login-guest" ui-sref="create" data-dismiss="modal"><h4>Quick Split</h4></a>
                <p> Select Quick Split for a one time splitting, without logging in or entering email addresses. No spam.</p>
            </div>
        </div>
    </div>
</div>
