<div class="row landing-jumbotron">
    <p class="heading">Split group expenses in a jiffy</p>
    <p class="description">No Signup Required! Totally Free!</p>
    <a class="btn btn-lg" data-toggle="modal" data-target="#start_now_modal">Split Now!</a>
</div>
<div class="row-fluid howworks-jumbotron">
    <div class="row-fluid text-center">
        <h1>HOW IT WORKS?</h1>
    </div>
    <div class="container text-center">
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                
            </div>
            <div class="keyword">
                <p>Add</p>
            </div>
            <div class="caption">
                <p>Click on Split Now! to enter details about members and expenses in our slick interface. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                
            </div>
             <div class="keyword">
                <p>Print</p>
            </div>
            <div class="caption">
                <p>Our algorithm figures who owes whom. It will be as simplified as it can be. Print a copy. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>                        
            </div>
             <div class="keyword">
                <p>Share</p>
            </div>
            <div class="caption">
                <p>Share the link with your friends to let them view the details and settle up the expenses. </p>
            </div>
        </div>
    </div>
</div>
​
<div class="row whyus-jumbotron">
    <div class="row-fluid text-center whyus-heading">
        <h1>Why PennySplit?</h1>
    </div>
    <!-- <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="assets/img/test_img.png" style="width:100%;">
            </div>
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>1. Get started in a second</h2>
                <p>There are no signup forms, so you don't need to spend 10 minutes creating a username or password</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>2. Add,Print,Close</h2>
                <p>Seriously, it's that simple. Our interface is intuitive and only as many buttons as required </p>
            </div>
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="assets/img/test_img.png" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="assets/img/test_img.png" style="width:100%;">
            </div>
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>3. No Spam!</h2>
                <p>You will not be asked to enter your email ID and hence no spam!</p>
            </div>
        </div>
    </div> -->
    <div class="text-center">
         <p>And it's totally FREE</p>
    </div>
</div>
​
<!-- Start Now Modal -->
<div class="modal fade" id="start_now_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document" style="margin-top:10%;">
        <div class="modal-content">
            <div class="modal-body" style="">
                <button type="button" class="btn btn-primary btn-block" disabled="disabled"><h4>Login with Facebook</h4></button>
                <h4>or</h4>
                <button type="button" class="btn btn-block btn-login-guest"><h4>Continue as guest</h4></button>
            </div>
        </div>
    </div>
</div>