<div class="row landing-jumbotron">
    <p class="heading">Split Group Expenses In A Jiffy</p>
    <p class="description">No Signup required! Totally free!</p>
    <a class="btn btn-lg" ui-sref="create">Split Now!</a>
</div>
<div class="row howworks-jumbotron">
    <div class="row-fluid text-center">
        <h1>How Pennysplit Works?</h1>
    </div>
    <div class="container text-center">
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </div>
            <div class="keyword">
                <p>Add</p>
            </div>
            <div class="caption">
                <p>Click on Split Now! to enter your buddies names and expenses in our cool interface. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
                
            </div>
             <div class="keyword">
                <p>Split</p>
            </div>
            <div class="caption">
                <p>Our algorithm splits expenses and calculates who owes whom with simplified transactions. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>                        
            </div>
             <div class="keyword">
                <p>Share</p>
            </div>
            <div class="caption">
                <p>Share the link with your friends to let them view the details and settle up the expenses. </p>
            </div>
        </div>
    </div>
</div>
<a name="why"></a>
<div class="row whyus-jumbotron">
    <div class="row-fluid text-center whyus-heading">
        <h1>Why Pennysplit?</h1>
    </div>
    <div class="container text-center">
        <div class="col-md-4 col-md-offset-1">
            <div class="row whyus-card">
                <h3>Split In Seconds</h3>
                <p>No signup or registration required, which means splitting expenses has never been easier</p>
            </div>
            <div class="row whyus-card">
                 <h3>Share with Buddies</h3>
                <p>Our link sharing options makes it easier to share the details with friends to let them edit,view and settle expenses</p>
            </div>
            <div class="row whyus-card">
                 <h3>Edit Event Later</h3>
                <p>Save the link of the event to add expenses later for an ongoing event</p>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="row whyus-card">     
                <h3>Easy To Use</h3>
                <p> Simple interface to add expenses which will save the trouble of dealing with unnecessary buttons</p>
            </div>
            <div class="row whyus-card">
             
                  <h3>No Troubling Invitations</h3>
                <p> Option for one member of the group to add everything,without inviting anyone. Simply share the details of who owes whom with them later</p>
            </div>
            <div class="row whyus-card">
                <h3>Completely Spam Free</h3>
                <p>Yes. You read that right. No spam or unnecessary emails! Ever! We hate spam mails too </p>
            </div>
        </div>
    </div>
    <div class="text-center whyus-free">
         <p>And it's totally FREE!</p>
    </div>
</div>