<div class="row landing-jumbotron">
    <p class="heading">Hello World!</p>
    <p class="description">Lorem Ipsum</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#start_now_modal">Start Now</button>
</div>
<div class="row-fluid howworks-jumbotron">
    <div class="row-fluid text-center">
        <h1>How it works</h1>
    </div>
    <div class="container text-center">
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <p>Add</p>
            </div>
            <div class="caption">
                <p>blah blah</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <p>Add</p>
            </div>
            <div class="caption">
                <p>blah blah</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 howworks-card">
            <div class="thumb">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <p>Add</p>
            </div>
            <div class="caption">
                <p>blah blah</p>
            </div>
        </div>
    </div>
</div>
<div class="row whyus-jumbotron">
    <div class="row-fluid text-center whyus-heading">
        <h1>Why us?</h1>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="/assets/img/test_img.png" style="width:100%;">
            </div>
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>Step 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>Step 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </div>
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="/assets/img/test_img.png" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1" style="padding:20px;">
                <img src="/assets/img/test_img.png" style="width:100%;">
            </div>
            <div class="col-md-6 col-md-offset-1" style="padding-top:50px;">
                <h2>Step 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </div>
        </div>
    </div>
</div>

<!-- Start Now Modal -->
<div class="modal fade" id="start_now_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding:100px 50px 100px 50px;">
                <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled"><h4>Login with Facebook</h4></button>
                <h4>or</h4>
                <h3>Continue as guest</h3>
            </div>
        </div>
    </div>
</div>