
.landing-jumbotron {
	min-height: 400px;
	padding-top: 150px;
	padding-bottom: 150px;
	color: #000000;
	background-size: cover;
	background-position: top-left;
	background-image: url('../img/landing_back.jpg');
	text-align: center;
	border-bottom: 3px solid #2c3e50;
	border-top: 3px solid #000;
}

.landing-jumbotron .heading {
	font-size: 36pt;
	font-variant: small-caps;
}

.landing-jumbotron .description {
	font-size: 18pt;
}

.landing-jumbotron a {
	padding-left: 70px;
	padding-right: 70px;
	font-size: 18pt;
	color: #fff;
	background-color: #2c3e50;
	border:3px solid #2c3e50;
}

.landing-jumbotron a:hover {
	color: #fff;
	background-color: #1abc9c;
}

#start_now_modal {
	text-align: center;
}

.howworks-jumbotron {
	padding: 50px 0px 50px 0px;
	border-bottom: 3px solid #2c3e50;
}

.howworks-jumbotron h1 {
	font-variant: small-caps;
}


.howworks-card {
	margin-top: 50px;
}

.howworks-card .thumb {
	position: relative;
	width: 100%;
	font-size: 35pt;
	text-align: center;
}

.howworks-card .caption {
	/*margin-top: 20px;*/
	font-size: 16pt;
}

.howworks-card .keyword {
	font-size: 25pt;
	font-variant: small-caps;
}

.whyus-jumbotron {
	padding: 20px 0px 20px 0px;
	background-color: #ecf0f1;
	border-bottom: 3px solid #2c3e50;
}
.whyus-card h3 {
	color: #2c3e50;
}

.whyus-card p{
	font-size: 12pt;
}

.whyus-heading {
	margin-bottom: 50px;
}

.whyus-heading h1 {
	font-variant: small-caps;
}

.whyus-free {
	margin-top: 20px;
	color:#000;
	font-style: italic;
	font-size: 18pt;
}

.btn-login-guest {
	color: #fff;
	background-color: #16a085;
}

.btn-login-guest:hover {
	color: #fff;
	background-color: #1abc9c;
}