
.landing-jumbotron {
	min-height: 400px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #000000;
	/*background-size: cover;*/
	background-position: center;
	/*background-color: #fff;*/
	background-image: url('/assets/img/landing_back.png');
	text-align: center;
}

.landing-jumbotron .heading {
	font-size: 36pt;
}

.landing-jumbotron .description {
	font-size: 18pt;
}

.landing-jumbotron a {
	padding-left: 70px;
	padding-right: 70px;
	font-size: 18pt;
	color: #fff;
	background-color: #16a085;
	border:none;
}

.landing-jumbotron a:hover {
	color: #fff;
	background-color: #1abc9c;
}

#start_now_modal {
	text-align: center;
}

.howworks-jumbotron {
	padding: 100px 0px 100px 0px;
}

.howworks-card {
	margin-top: 50px;
}

.howworks-card .thumb {
	position: relative;
	width: 100%;
	font-size: 35pt;
	text-align: center;
}

.howworks-card .caption {
	/*margin-top: 20px;*/
	font-size: 16pt;
}

.howworks-card .keyword {
	font-size: 25pt;
}

.whyus-jumbotron {
	padding: 50px 0px 50px 0px;
	background-color: #ecf0f1;
}

.whyus-heading {
	margin-bottom: 50px;
}

.btn-login-guest {
	color: #fff;
	background-color: #16a085;
}

.btn-login-guest:hover {
	color: #fff;
	background-color: #1abc9c;
}