body {
	background-color: #fff;
}
.custom-navbar {
	/*padding: 5px 0px 5px 0px;*/
	margin: 0px;
	color: #fff;
	background-color: #34495e;
	border:none;
	border-radius: 0px;
}
.custom-navbar .navbar-brand {
	color: #fff;
	font-size: 1.5em;
}
.custom-navbar .navbar-brand:hover {color: #fff;}
/*.custom-navbar .navbar-nav > li:hover {border-bottom: 2px inset #fff;}*/
.custom-navbar .navbar-nav > li > a {color: #fff;}
.custom-navbar .navbar-toggle {border-color: #fff;}
.custom-navbar .navbar-toggle .icon-bar {background-color : #fff;}
.custom-navbar .nav-btn {
	margin: 5px auto 5px auto;
	padding: 10px 30px 10px 30px;
	color: #fff;
	background-color: #16a085;
	border: none;
	border-radius: 5px;
}

.custom-navbar .navbar-nav .nav-btn:hover {
	color: #fff;
	background-color: #1abc9c;
}
.custom-navbar .navbar-nav .nav-btn:focus {
	color: #fff;
	background-color: #1abc9c;
}

.footer .info {
	font-size: 16pt;
	text-align: center;
}

.footer .contact{
	font-size: 12pt;
}