
.create-container {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}

.create-view {
	border-left: 1px solid 
}

.form-create-preview {
	border-left: 1px solid #ecf0f1;
}

.form-create-preview ul {
	padding: 0px;
}

.form-create-preview li {
	padding: 5px 0px 5px 0px;
	border-bottom: 2px solid #ecf0f1;
	font-size: 12pt;
	list-style-type: none;
}

.form-create-preview li button {
	background: none;
	border: none;
}

.form-create-preview li button:hover {
	color: #3498db;
}

.inp-buddies div {
	margin-top: 5px;
}


.inp-payer select, .inp-payer  input, .inp-payer  button {
	margin-top: 5px;
}

.inp-payer button {
	/*margin: 5px;*/
	/*background: none;*/
	/*border: none;*/
}

.inp-payer button:hover {
	/*color: #3498db;*/
}

.panel-overview {
	border-left: 1px solid #ecf0f1;
}